*{
    margin: 0;
    padding: 0;
}

header nav{
    height: 15%;
    width: 100%;
    background-color: rgb(255, 253, 253);
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
}

header nav img{
    margin-left: 20%;
    padding: 7%;
    height: 9vh;
    width:  18vw;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

header nav a{
    font: 1em sans-serif;
    text-decoration: none;
    color: black;
}

.circle-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: invert(1);
    display: block;
    margin: 15px auto 0; /* Center horizontally, adjust top margin to fit within 80px div */
}
.content #about-us {
    height: 101vh;
    padding-top: 50px;
}
.content #about-us img{
    margin-right: 2.5%;
    float: left;
    padding-left: 40px;
    padding-top: 30px;
}
.content #about-us #para{
    padding-top: 5%;
}
.content #about-us #para h2{
    color: rgb(215, 132, 37);
    text-decoration: underline;
}
.content #about-us #para #circle1{
    margin-top: 20px;
    height: 80px;
    width: 80px; 
    overflow:visible;
    background-color: rgb(255, 170, 0);
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.content #about-us #para #circle1 img{
    margin-top: -13%;
    margin-left: -31.5px;
    height: 50px;
    width: 50px;  
}
.content #about-us #para .quote1{
    /* border: 5px black solid; */
    float: left;
}
.content #about-us #para #quote1 {
    /* border: 5px rgb(106, 79, 79) solid; */
    height: 200px;
    width: 350px;
}
.content #about-us #para #quote1 #text{
    float: right;
    margin-top: -12vh;
}
.content #about-us #para .quote1 #quote1 #text h2{
    padding-bottom: 8px;
}
.content #about-us #para #quote2{
    /* border: 5px rgb(106, 79, 79) solid; */
    height: 200px;
    width: 350px;
}
.content #about-us #para .quote1 #quote2 #text {
    float: right;
    margin-top: -12vh;
    font-size: larger;
}
.content #about-us #para .quote2 #sogan{
    background-color: rgb(223, 249, 223);
    height: 350px;
    width: 230px;
    float: right;
    border-radius: 30px;
    margin-right: 3%;
    margin-top: 25px;
}
.content #about-us #para .quote2 #sogan p{
    padding: 40px 40px;
    word-spacing: 2px ;
}
.content #about-us #para .quote2 h1{
    float: right;
    color:green;
    font-size: 43px;
    margin-top: -25px;
    margin-right: 50px;
}



/* SUccess Story  Page*/


.content #success-story #part1{
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: url(counter.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: 1;   
}
/* .content #success-story #part1 img {
    margin-top: -100px;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
} */
.content #success-story #circle1 {
    margin-top: 20px;
    height: 120px;
    width: 120px;
    overflow: visible;
    background-color: rgb(255, 170, 0);
    border-radius: 50%;
    /* display: flex;
    align-content: center;
    justify-content: center; */
    z-index: 2;
}
.content #success-story #part1 #box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 3px solid black; */
    height: 400px;
    color: white;
    
}
.content #success-story #circle1 img {
    margin-top: 19.2%;
    margin-left: 18px;
    height: 80px;
    width: 80px;   
}
.content #success-story #circle1 h1{
    padding: 30px 0px 5px 20px;
    font-size: xx-large;
}
.content #success-story #circle1 h2 {
    font-size: 15px;
    padding: 0px 0px 5px 20px;
}
.content #success-story #part2 {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url(foot-img.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: 1;
}
.content #success-story #part2 #info{
    margin-top: 7%;
    padding-left: 4%;
    height: 70%;
    width: 50%;
    /* border: 3px solid black; */
}
.content #success-story #part2 #info h1{
    font-size: 37.5px;
    color: white;
    word-spacing: 2px;
}
.content #success-story #part2 #info h2 {
    color: rgb(246, 202, 8);
    text-decoration: underline;
}
.content #success-story #part2 #info #f-box {
    height: 100%;
    width: 100%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    /* 4 equal columns */
    /* gap: 2px; Space between boxes */


}
.content #success-story #part2 #info #box{
    height: 50%;
    width: 90%;
    background-color: white;
    border-radius: 34px 40px 40px 0;
    text-align: center;
}
.content #success-story #part2 #info #f-box h3{
    margin-top: 10%; ;
}
.content #success-story #part2 #photo{
    margin-top: -37%;
    margin-right: 4%;
    height: 89%;
    width: 41%;
    background: url(why-choose-us.jpg);
    background-size: cover;
    float: right;
    z-index: 3;
    border-radius: 90px 0px 90px 90px ;
}
.content #success-story #part2 #photo2 {
    margin-top: -36%;
    margin-right: -40%;
    height: 89%;
    width: 41%;
    float: right;
    z-index: 3;
    border-radius: 90px 0px 90px 90px;
    border: 2px solid orange;
}