*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header nav{
    height: 15%;
    width: 100%;
    background-color: rgb(255, 253, 253);
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
}

header nav img{
    margin-left: 20%;
    padding: 7%;
    height: 9vh;
    width:  18vw;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

header nav a{
    font: 1em sans-serif;
    text-decoration: none;
    color: black;
}

.circle-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: invert(1);
    display: block;
    margin: 15px auto 0; /* Center horizontally, adjust top margin to fit within 80px div */
}
.content #about-us {
    height: 101vh;
    padding-top: 50px;
}
.content #about-us img{
    margin-right: 2.5%;
    float: left;
    padding-left: 40px;
    padding-top: 30px;
}
.content #about-us #para{
    padding-top: 5%;
}
.content #about-us #para h2{
    color: rgb(215, 132, 37);
    text-decoration: underline;
}
.content #about-us #para #circle1{
    margin-top: 20px;
    height: 80px;
    width: 80px; 
    overflow:visible;
    background-color: rgb(255, 170, 0);
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.content #about-us #para #circle1 img{
    margin-top: -13%;
    margin-left: -31.5px;
    height: 50px;
    width: 50px;  
}
.content #about-us #para .quote1{
    /* border: 5px black solid; */
    float: left;
}
.content #about-us #para #quote1 {
    /* border: 5px rgb(106, 79, 79) solid; */
    height: 200px;
    width: 350px;
}
.content #about-us #para #quote1 #text{
    float: right;
    margin-top: -12vh;
}
.content #about-us #para .quote1 #quote1 #text h2{
    padding-bottom: 8px;
}
.content #about-us #para #quote2{
    /* border: 5px rgb(106, 79, 79) solid; */
    height: 200px;
    width: 350px;
}
.content #about-us #para .quote1 #quote2 #text {
    float: right;
    margin-top: -12vh;
    font-size: large;
}
.content #about-us #para .quote2 #sogan{
    background-color: rgb(223, 249, 223);
    height: 350px;
    width: 230px;
    float: right;
    border-radius: 30px;
    margin-right: 3%;
    margin-top: 25px;
}
.content #about-us #para .quote2 #sogan p{
    padding: 30px 30px;
    word-spacing: 2px ;
}
.content #about-us #para .quote2 h1{
    float: right;
    color:green;
    font-size: 43px;
    margin-top: -25px;
    margin-right: 50px;
}



/* SUccess Story  Page*/


.content #success-story #part1{
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: url(counter.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: 1;   
}
/* .content #success-story #part1 img {
    margin-top: -100px;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
} */
.content #success-story #circle1 {
    margin-top: 20px;
    height: 120px;
    width: 120px;
    overflow: visible;
    background-color: rgb(255, 170, 0);
    border-radius: 50%;
    /* display: flex;
    align-content: center;
    justify-content: center; */
    z-index: 2;
}
.content #success-story #part1 #box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 3px solid black; */
    height: 400px;
    color: white;
    
}
.content #success-story #circle1 img {
    margin-top: 19.2%;
    margin-left: 18px;
    height: 80px;
    width: 80px;   
}
.content #success-story #circle1 h1{
    padding: 30px 0px 5px 20px;
    font-size: xx-large;
}
.content #success-story #circle1 h2 {
    font-size: 15px;
    padding: 0px 0px 5px 20px;
}
.content #success-story #part2 {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url(foot-img.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: 1;
}
.content #success-story #part2 #info{
    margin-top: 7%;
    padding-left: 4%;
    height: 70%;
    width: 50%;
    /* border: 3px solid black; */
}
.content #success-story #part2 #info h1{
    font-size: 37.5px;
    color: white;
    word-spacing: 2px;
}
.content #success-story #part2 #info h2 {
    color: rgb(246, 202, 8);
    text-decoration: underline;
}
.content #success-story #part2 #info #f-box {
    height: 100%;
    width: 100%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    /* 4 equal columns */
    /* gap: 2px; Space between boxes */


}
.content #success-story #part2 #info #box{
    height: 50%;
    width: 90%;
    background-color: white;
    border-radius: 34px 40px 40px 0;
    text-align: center;
}
.content #success-story #part2 #info #f-box h3{
    margin-top: 10%; ;
}
.content #success-story #part2 #photo{
    margin-top: -37%;
    margin-right: 4%;
    height: 89%;
    width: 41%;
    background: url(why-choose-us.jpg);
    background-size: cover;
    float: right;
    z-index: 3;
    border-radius: 90px 0px 90px 90px ;
}
.content #success-story #part2 #photo2 {
    margin-top: -36%;
    margin-right: -40%;
    height: 89%;
    width: 41%;
    float: right;
    z-index: 3;
    border-radius: 90px 0px 90px 90px;
    border: 2px solid orange;
}



/* Photo Gallery 3rd layout */


.content #gallery{
    height: 70vw;
    width: 100%;
    text-align: center;
}
.content #gallery h1{
    font-size: 2.5rem;
    padding-top: 6%;
    font-weight: 900;
    color: rgb(58, 57, 57);
}
.content #gallery h1 span{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(239, 185, 78);
}
.content #gallery #photos {
    padding-left: 7vh;
    padding-top: 5vw;
    width: 96.2%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
.content #gallery #photos #d1{
    height: 70%;
    width: 90%;
    background: url(ph1.jpg);
    border: 4px solid rgb(233, 167, 53);
    background-size: cover;
    background-position-y: -20px;
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
}
.content #gallery #photos #d1 h2{
    font-size: 22.5px;
    background-color: white;
    margin-top: 53%;
    text-align: left;
}
.content #gallery #photos #d2 {
    height: 70%;
    width: 90%;
    background: url(ph2.jpeg);
    border: 4px solid rgb(233, 167, 53);
    background-size: cover;
    background-position-y: -20px;
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
}
.content #gallery #photos #d2 h2 {
    font-size: 22.5px;
    background-color: white;
    margin-top: 53%;
    text-align: left;
}
.content #gallery #photos #d3 {
    height: 70%;
    width: 90%;
    background: url(ph3.jpg);
    border: 4px solid rgb(233, 167, 53);
    background-size: cover;
    background-position-y: -20px;
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
}
.content #gallery #photos #d3 h2 {
    font-size: 22.5px;
    background-color: white;
    margin-top: 53%;
    text-align: left;
}
.content #gallery #photos #d4 {
    height: 70%;
    width: 90%;
    background: url(ph4.jpg);
    border: 4px solid rgb(233, 167, 53);
    background-size: cover;
    background-position-y: -20px;
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
}
.content #gallery #photos #d4 h2 {
    font-size: 22.5px;
    background-color: white;
    margin-top: 53%;
    text-align: left;
}
.content #gallery #photos #d5 {
    height: 70%;
    width: 90%;
    background: url(ph5.jpg);
    border: 4px solid rgb(233, 167, 53);
    background-size: cover;
    background-position-y: -20px;
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
}
.content #gallery #photos #d5 h2 {
    font-size: 22.5px;
    background-color: white;
    margin-top: 53%;
    text-align: left;
}
.content #gallery #photos #d6 {
    height: 70%;
    width: 90%;
    background: url(ph6.jpg);
    border: 4px solid rgb(233, 167, 53);
    background-size: cover;
    background-position-y: -20px;
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
}
.content #gallery #photos #d6 h2 {
    font-size: 22.5px;
    background-color: white;
    margin-top: 53%;
    text-align: left;
}
.content #gallery button{
    height: 5%;
    width: 11%;
    background-color:rgb(239, 185, 78);
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 20px 20px 20px 0;
}
.content #gallery button a{
    text-decoration: none;
    color: white;
}
.content #gallery button a:hover{
    color: pink;
    text-transform:lowercase;
    text-shadow: 2px 2px 3px black;
}
/* .content #invite-bg{
    height: 60vw;
    width: 100%;
    background:url(cta-banner.jpg);
    background-size: cover;
    position: static;
    z-index: 1;
    background-attachment: scroll;
    /* top: 0;
    bottom: 20px; 
} */
.content #invite-bg {
    position: relative;
    background-image: url(cta-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* consider removing for mobile */
    height: 500px;
    margin: 0;
    margin-bottom: 65px;
    /* or margin-bottom: 65px if spacing is needed */
}
.content #invitation-card {
    /* background-color: pink; */
    height:85%;
    width: 35%;
    background: orange;
    z-index: 2;
    border-radius: 50px 50px 50px 0px;
    position: absolute;
    bottom:7%;
    right: 20%;
    overflow: hidden;
    box-sizing: border-box;
    border: 10px double white;
}
.content #invitation-card h2{
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 5%;
    color: white;
}
.content #invitation-card p{
    text-align:justify;
    color: black;
    font-size: small;
    word-spacing: 4px;
    line-height: 25px;
    padding: 3%;
}
.content #invitation-card button{
    height: 6vh;
    width: 10vw;
    color: rgb(96, 93, 93);
    background-color:white;
    font-weight: bolder;
    border: none;
    margin-left: 2%;
    border-radius: 30px 30px 30px 0px;
}
.content #invitation-card button a{
    text-decoration: none;
    color:rgb(96, 93, 93);
}

/* courses */


.content #courses{
    height: 400vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content #courses h1{
    font-size: 40px;
    color: rgb(68, 67, 67);
    text-align: center;
}
.content #courses h1 span{
    color: orange;
}
content #courses #details{
    width: 100%;
    height: 75%;
    background-color: blue;
}